#command

#Ports

WEB_PORT=3000
API_PORT=8000


#Postgres

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wearwise


#Backend Auth (later)

JWT_SECRET=change-this-to-a-long-random-string
JWT_ALGORITHM=HS256


#Frontend API URL (browser)

NEXT_PUBLIC_API_URL=http://localhost:8000


#Internal API URL (Docker network)

API_INTERNAL_BASE_URL=http://api:8000
