.card {
  width: 100%;
  height: 100%;
  border: 1px solid #e7dfd9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background-color: var(--ww-color-primary-light);

  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  background-color: var(--ww-gray-medium);
  width: 100%;
  height: 100%;
}

.content {
  padding: 1rem;
}

.fullHeight {
  height: 100%;
}
