:root {
  /* ===============================
     Brand Colors
  =============================== */

  --ww-color-primary: #ff978c;
  --ww-color-primary-light: #fcd6cd;

  /* Soft highlight / beige */
  --ww-color-beige: #faead0;

  /* ===============================
     Buttons
   =============================== */

  --ww-button-primary-bg: #ffb395;
  --ww-button-primary-hover-bg: #f5865b;
  --ww-button-secondary-bg: #ffda83;
  --ww-button-secondary-hover-bg: #fccb58;
  --ww-button-tertiary-bg: #ffe9bf;
  --ww-button-tertiary-hover-bg: #fcdda4;

  /* ===============================
     Text
  =============================== */

  --ww-text-primary: #38353b;
  --ww-text-secondary: #a68a8e;
  --ww-text-muted: #a68a8e;

  /* ===============================
     Borders
  =============================== */

  --ww-border-primary: #d9d9d9;
  --ww-border-secondary: #e2dfdf;

  /* ===============================
     Neutral Colors
  =============================== */

  --ww-color-white: #ffffff;
  --ww-color-black: #000000;

  --ww-gray-light: #f5f5f5;
  --ww-gray-medium: #d9d9d9;
  --ww-gray-dark: #5f6368;

  /* ===============================
     CTA / Accent
  =============================== */

  --ww-color-accent: #fcdb90;

  /* ===============================
     Status
  =============================== */

  --ww-success: #169a36;
  --ww-success-dark: #147e2f;

  --ww-warning: #eba123;

  --ww-danger: #d11e3c;
  --ww-danger-dark: #af1b33;

  /* ===============================
     Backgrounds
  =============================== */

  --ww-bg-page: #fff5f2;
}
